@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="purple-text darken-5">Welcome to Afridi Movies</h1>
    <p class="gray-text">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
